*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
    width: 70%;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.container h1{
    letter-spacing: 2px;
    text-align: center;
    padding: 20px 0px 18px 0px;
    font-size: 55px;
    font-weight: bold;
    font-family: "Caviar Dreams";
    color: rgb(255, 255, 255);
    background-color: rgb(8, 160, 101);
}

.container .text1{
    margin-top: 70px;
    padding: 24px 30px 24px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Caviar Dreams";
    color: rgb(255, 255, 255);
}

.container .text2{
    margin-bottom: 150px;
    padding: 24px 30px 24px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Caviar Dreams";
    color: rgb(0, 0, 0);
    background-color: rgb(8, 160, 101);
}

.img1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 img{
    border-radius: 10px;
    margin: 30px;
    max-width: 780px;
    min-width: 520px;
}

.container .text3{
    margin-top: 150px;
    padding: 24px 30px 24px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Caviar Dreams";
    color: rgb(255, 255, 255);
}

.container .text4{
    margin-bottom: 100px;
    padding: 24px 30px 24px 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Caviar Dreams";
    color: rgb(0, 0, 0);
    background-color: rgb(8, 160, 101);
}

.container .botao1 a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .botao1 a{
    border-radius: 50px;
    font-weight: 600;
    font-family: "Caviar Dreams";
    font-size: 30px;
    padding: 12px 40px 12px 40px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 104, 67);
}

.container .text5{
    margin-top: 80px;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Caviar Dreams";
    color: rgb(255, 255, 255);
    background-color: rgb(8, 160, 101);
    text-align: center;
}